.content-body {
  padding-top: var(--header-height);
}

.content-wrapper {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

main{
  max-width: 1100px;
  margin: auto;
}

.post-card {
    background: var(--color-background-secondary);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--margin-bottom-card);
    border-radius: var(--radius);
    /* padding: var(--spacing-3);
    transition: box-shadow 0.1s ease-in;
    color: var(--color-text-secondary); */
}

.post-wrapper {
  padding: 16px;
}

.post-container{
  position: relative;
  width: 100%;
}

.post-title {
  margin: 0;
  margin-bottom: 16px;
}

.post-image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.post-image {
  display: block;
  max-width: 100%;
  max-height: 75vh;
  margin: auto;
  position: relative;
}

.post-details{
  margin-top: 10px;
  padding-top: 8px;
  border-top: 1px solid var(--color-border);
  font-size: 14px;
  display: flex;
}


